################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsvLayout/bin
/CsvLayout/obj
/CsvTests/bin
/CsvTests/obj
/log4net.Csv.Standard/bin
/log4net.Csv.Standard/obj
/ExampleApp/bin
/ExampleApp/obj
/packages/
/.vs/log4net.Csv/
/CsvLayout/log4net.Csv.1.0.0.nupkg
