################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/log4net.Csv/bin
/log4net.Csv/obj
/log4net.Csv/log4net.Csv.1.0.0.nupkg
/CsvTests/bin
/CsvTests/obj
/log4net.Csv.Standard/bin
/log4net.Csv.Standard/obj
/ExampleApp/bin
/ExampleApp/obj
/packages/
/.vs/log4net.Csv/
/nuget/lib
