<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Purple" />
      </mapping>
      
      <layout type="log4net.Csv.CsvLayout, log4net.Csv">
        <fields value="appdomain,thread,level,class,method,message,date,utcdate,logger,missingproperty,CustomProperty,exception" />
      </layout>
    </appender>
    <!--<appender name="file" type="log4net.Appender.RollingFileAppender">-->
  <appender name="file" type="log4net.Csv.HeaderOnceAppender">
    <param name="File" value="Logs/" />
    <param name="AppendToFile" value="True" />
    <param name="MaxSizeRollBackups" value="10" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyy-MM-dd&quot;.csv&quot;" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Csv.CsvLayout, log4net.Csv">
        <header type="log4net.Util.PatternString" value="appdomain,thread,level,class,method,message,date,utcdate,logger,missing property,custom property,exception%newline" />
        <fields value="appdomain,thread,level,class,method,message,date,utcdate,logger,missingproperty,CustomProperty,exception" />
      </layout>
    </appender>
</log4net>
